<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav ">
                <li><a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a></li>
                <li><a href="{{ site.baseurl }}blog.html">BLOG</a></li>
                <!--<li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>-->
                <li><a href="{{ site.cvurl }}" target="_blank">RESUME</a></li>
            </ul>
        </div>
        <div id="navbar">
            <a class="navbar-brand navbar-right header-icon-wrapper" href="{{ site.baseurl }}">
                <img class="header-icon" src="/static/img/grim-dark-lowres.png" alt="">
            </a>
        </div>
    </div>
</nav>
